* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  /*  list-style: none;*/
  box-sizing: border-box;
}
body {
  font-family: montserrat;
  background-color: #e5e5f7;
  opacity: 1;
  background-image: radial-gradient(#444cf7 1.85px, transparent 1.85px),
    radial-gradient(#444cf7 1.85px, #e5e5f7 1.85px);
  background-size: 74px 74px;
  background-position: 0 0, 37px 37px;
}
#loader {
  height: 100dvh;
  width: 100dvw;
  background-image: linear-gradient(
    to top,
    #012305,
    #004914,
    #00721e,
    #009d24,
    #18cb26
  );
  position: fixed;
  z-index: 100000;
}

#loader img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.dot-elastic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

header {
  position: fixed;
  width: 100%;
  min-height: 50px;
  background-color: #3427f200;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  transition: all 500ms cubic-bezier(0.13, 0.32, 0.22, 0.71);
}

.nav_blur {
  height: 50px;
  width: 100%;
  position: inherit;
  /*  background-color: rgba(0, 0,0);*/
  backdrop-filter: blur(2px);
  /*  border-bottom: 2px solid #86f388c5;*/
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  z-index: -1;
  padding: 0;
  margin: 0;
}

header .logo {
  font-family: "Poppins" sans-serif;
  white-space: nowrap;
  padding-left: 50px;
  color: #505050;
  font-size: 1.75em;
  font-weight: 600;
  text-decoration: none;
  pointer-events: none;
}

header ul {
  position: relative;
  padding-right: 40px;
}

header ul li {
  position: relative;
  list-style: none;
  float: left;
  /* border-left: 1px solid #1ed52184; */
}

header ul li a {
  color: #000000;
  font-size: 0.95em;
  font-family: "Poppins", sans-serif;
  padding: 10px 15px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

header ul li ul {
  position: absolute;
  left: 0;
  top: relative;
  width: 150px;
  background: #ffffff00;
  border-radius: 7px;
  padding: 0;
  border: 3px solid #86f388c5;
  border-top-color: transparent;
  border-radius: 0;
  z-index: 1;
  display: none;
  backdrop-filter: blur(1px);
}

header ul li a:hover {
  /*  transform: translateX(1.2px) translateY(1.2px);*/
  transition: all 0.2s ease;
  color: #292929;
}

header ul li:hover ul {
  display: block;
}

.hamburger {
  display: none;
  overflow: hidden;
}

nav li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: aqua;

  translate: var(--_translate, 0);
  scale: var(--_width, 0) 1;
  transition: scale 300ms var(--_scale-delay, 0ms),
    translate 500ms var(--_translate-delay, 0ms);
}
nav li ul li::after {
  all: unset;
}

nav li:hover,
nav li:focus-within {
  --_width: 1;
}

nav li.active {
  --_width: 1;
}

@supports selector(:has(h1)) {
  nav li:hover + li {
    --_translate: -100%;
    --_scale-delay: 300ms;
    --_translate-delay: 200ms;
  }

  nav li:has(+ :hover) {
    --_translate: 100%;
    --_scale-delay: 300ms;
    --_translate-delay: 200ms;
  }
}

@media (max-width: 880px) {
  header {
    padding: 0;
    margin: 0;
  }

  header .logo {
    padding-left: 50px;
  }

  header nav {
    position: absolute;
    width: 100%;
    top: 50px;
    left: 0;
    background-color: #3427f200;
  }
}

@media (max-width: 700px) {
  header {
    background-color: #1778d247;
    padding: 0;
    margin: 0;
  }

  header .logo {
    padding-left: 25px;
  }

  header nav {
    background-color: #1778d247;
    position: absolute;
    width: 100%;
    display: none;
    top: 50px;
    left: 0;
  }

  header nav ul {
    padding: 0;
  }

  nav li::after {
    all: unset;
  }

  header ul li ul {
    width: 100%;
    top: 0;
  }

  header nav ul li {
    border-width: 2px;
    width: 100%;
  }

  header nav ul li ul {
    top: auto;
    position: relative;
    width: 100%;
  }

  .hamburger {
    display: block;
  }
  header.active nav {
    display: block;
  }
}

@media (max-width: 400px) {
  header .logo {
    padding: 5px;
  }
}

/* The header ends here */

/*Intro*/
.coolButton {
  background-color: rgb(99, 102, 241);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
  border-radius: 1rem;
}

.coolButton:hover {
  background-color: #3d40d6;
  transition: 0.5s;
}
.container {
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.container h1 {
  font-size: 3rem;
  width: 100%;
  margin-bottom: 3rem;
}

.container p {
  margin-bottom: 3rem;
}

section {
  height: 100vh; /* Make sections take up the full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
}

#Process {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  text-align: center;
  padding: 3rem;
}

#Process h1 {
  font-size: 2rem;
  margin-bottom: 3rem;
}

#Process p {
  margin-bottom: 3rem;
}
#Process ul {
  padding-left: 4rem;
  list-style-type: circle;
  font-size: 1.3rem;
  font-weight: 2rem;
  text-align: left;
}

.Litem {
  margin-bottom: 1rem;
}

#Insights {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  text-align: center;
  padding: 3rem;
}

#Insights h1 {
  font-size: 2rem;
  margin-bottom: 3rem;
}

#Insights ul {
  padding: 4rem;
  list-style-type: circle;
  font-size: 1.3rem;
  font-weight: 2rem;
  text-align: left;
}

#Viz {
  display: block;
  height: 100vh;
  text-align: center;
  padding: 3rem;
}

#Viz h1 {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.VizContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  padding-left: 5rem;
  padding-right: 5rem;
  border-radius: 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.responsiveImg {
  width: 100%;
  height: auto;
  margin: 1rem;
}

.responsiveImg img {
  display: block;
}

#img1 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

#img2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

#img3 {
  grid-column: 3 / 3;
  grid-row: 1 / 2;
}

#img4 {
  grid-column: 1 / 3;
  grid-row: 2 / 2;
}

#img5 {
  grid-column: 2 / 3;
  grid-row: 2 / 2;
}

#img6 {
  grid-column: 3 / 3;
  grid-row: 2 / 2;
}

.VizItem {
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin-bottom: 19px;
  border-radius: 2px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.4);
}

.VizItem:hover .overlay {
  opacity: 1;
}

.VizItem image {
  display: block;
  width: 100%;
  height: auto;
}

.text {
  color: #4a03da;
  font-size: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.text span {
  font-size: 1.5rem;
  color: white;
}

.footer {
  background-color: #24262b;
  color: white;
  height: 7rem;
  text-align: center;
  align-items: center;
  justify-items: center;
}

.footer h1 {
  padding: 2rem;
}

@media (max-width: 800px) {
  .container * {
    scale: 0.8;
  }
  .container h1{
    margin-bottom: 0;
  }
  .container p{
    margin-bottom: 0;
  }
  #Process {
    scale: 0.8;
    margin: 0;
    padding: 0;
  }
  #Process h1 {
    margin-bottom: 1rem;
  }
  #Process p{
    margin-bottom: 1rem;
  }
  #Process ul{
    padding-left: 0;
  }
  #Insights{
    scale: 0.8;
    margin: 0;
    padding: 0;
  }
  #Insights h1{
    margin-bottom: 1rem;
  }
  #Insights ul{
    padding: 0;
  }
  .Litem{
    font-size: small;
  }
  
}
@media (max-width: 650px)
{
    .container *{
        scale: 0.6;
    }
    .container p{
        font-size: 2rem;
    }
}