* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100svh;
  background-color: #39da4e;
  opacity: 1;
  background-image: radial-gradient(#036200 2px, transparent 2px),
    radial-gradient(#036200 2px, #39da4e 2px);
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px;
  overflow-x: hidden;
}

#loader {
  height: 100vh;
  width: 100vw;
  /*background-image: linear-gradient(
    to top,
    #012305,
    #004914,
    #00721e,
    #009d24,
    #18cb26
  );*/
  background-color:white;
  position: fixed;
  z-index: 100000;
}

#loader img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.dot-elastic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

header {
  position: fixed;
  width: 100%;
  min-height: 50px;
  background-color: #3427f200;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  transition: all 500ms cubic-bezier(0.13, 0.32, 0.22, 0.71);
  border-bottom: 2px solid #2c0c8cc5;
  backdrop-filter: blur(2px);
}

header .logo {
  font-family: 'Ubuntu', sans-serif;;
  white-space: nowrap;
  padding-left: 50px;
  color: white;
  font-size: 1.75em;
  font-weight: 600;
  text-decoration: none;
  pointer-events: none;
}

header ul {
  position: relative;
  padding-right: 40px;
}

header ul li {
  position: relative;
  list-style: none;
  float: left;
  /* border-left: 1px solid #1ed52184; */
}

header ul li a {
  color: #ffffff;
  font-size: 0.95em;
  font-family: "Poppins", sans-serif;
  padding: 10px 15px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

header ul li ul {
  position: absolute;
  left: 0;
  top: relative;
  width: 150px;
  background: #ffffff00;
  border-radius: 7px;
  padding: 0;
  border: 3px solid #86f388c5;
  border-top-color: #efefef00;
  border-radius: 0;
  z-index: 1;
  display: none;
}

header ul li a:hover {
  /*  transform: translateX(1.2px) translateY(1.2px);*/
  transition: all 0.2s ease;
  color: #86f388;
}

header ul li:hover ul {
  display: block;
}

.hamburger {
  display: none;
  overflow: hidden;
}

nav li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: aqua;

  translate: var(--_translate, 0);
  scale: var(--_width, 0) 1;
  transition: scale 300ms var(--_scale-delay, 0ms),
    translate 500ms var(--_translate-delay, 0ms);
}

nav li ul li::after {
  all: unset;
}

nav li:hover,
nav li:focus-within {
  --_width: 1;
}

nav li.active {
  --_width: 1;
}

@supports selector(:has(h1)) {
  nav li:hover + li {
    --_translate: -100%;
    --_scale-delay: 300ms;
    --_translate-delay: 200ms;
  }

  nav li:has(+ :hover) {
    --_translate: 100%;
    --_scale-delay: 300ms;
    --_translate-delay: 200ms;
  }
}

@media (max-width: 880px) {
  header {
    padding: 0;
    margin: 0;
  }

  header .logo {
    padding-left: 50px;
  }

  header nav {
    position: absolute;
    width: 100%;
    top: 50px;
    left: 0;
    background-color: #3427f200;
  }
}

@media (max-width: 700px) {
  header {
    background-color: #1778d247;
    padding: 0;
    margin: 0;
  }

  header .logo {
    padding-left: 25px;
  }

  header nav {
    background-color: #1778d247;
    position: absolute;
    width: 100%;
    display: none;
    top: 50px;
    left: 0;
  }

  header nav ul {
    padding: 0;
  }

  nav li::after {
    all: unset;
  }

  header ul li ul {
    width: 100%;
    top: 0;
  }

  header ul li ul a {
    background-color: rgba(27, 157, 75, 0.35);
  }

  header nav ul li {
    border-width: 2px;
    width: 100%;
  }

  header nav ul li ul {
    top: auto;
    position: relative;
    width: 100%;
  }

  .hamburger {
    display: block;
  }

  header.active nav {
    display: block;
  }
}

@media (max-width: 400px) {
  header .logo {
    padding: 5px;
  }
}

/* The header ends here */

.svgContainer {
  position: absolute;
  height: 200%;
  width: 100%;
  overflow: hidden;
}

#svg5 {
  position: absolute;
  top: 15%;
  left: 80%;
  transform: translate(-50%, -50%);

  stroke-dasharray: 50;
  stroke-dashoffset: 1000;
  pointer-events: none;
  animation: animateDash 10s linear forwards infinite;
}

#SecondSVG {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);

  stroke-dasharray: 50;
  stroke-dashoffset: -1000;
  pointer-events: none;
  animation: animateDash 15s linear forwards infinite;
}

#ThirdSVG {
  position: absolute;
  top: 90%;
  right: -60%;
  transform: translate(-50%, -50%);

  stroke-dasharray: 50;
  stroke-dashoffset: -1000;
  pointer-events: none;
  animation: animateDash 15s linear forwards infinite;
}

@media (max-width:1050px) {
  #ThirdSVG {
    scale: 0.8;
    /* right: -110%; */
  }
}

@media (max-width: 800px)
{
  #ThirdSVG{
    right: -130%;
  }
}

@keyframes animateDash {
  to {
    stroke-dashoffset: 0;
  }
}

:root {
/*  --circle-color: 0440db;*/
  --circle-color: #0248FD;
}

.circle {
  position: absolute;
  height: 80vh;
  width: 80vh;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  background-color: var(--circle-color);
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 0 1000px 10px var(--circle-color);
}

.circle .circleShadow {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.5)
  );
  z-index: -1;
}

@media (max-width: 800px)
{
  .circle{
    height: 80vw;
    width: 80vw;
  }
}

.circle p,
.circle h1 {
  color: whitesmoke;
  text-align: center;
}

.circle p {
  margin-left: 10%;
  margin-right: 10%;
}

/* .circle .bigTextScore span{ */
#score {
  font-family: 'Ubuntu', sans-serif;;
  font-size: 2rem;
  color:  #07FF27;
}

.recommendations {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 100%;
}

.list-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  background-color: #30EC48;

  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}


.hText {
  text-align: center;
  color: black;
  padding-bottom: 2rem;
}

.custom-list {
  list-style: none;
  padding: 0;
}

.custom-list li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.list-icon {
  font-size: 40px;
  margin-right: 10px;
  color: #ffffff;
}

.lnk{
  color:  #07FF27;
  text-decoration: none;
}

footer {
  position: relative;
  top: 70%;
  background: #111;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: #fff;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li {
  height: 2rem;
  width: 2rem;
  background-color: #000501;
  border-radius: 50%;
  margin: 0 10px;
}

.socials li:nth-child(1) {
  background-image: url("src/github-mark-white.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.socials li:nth-child(2) {
  background-image: url("src/github-mark-white.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.socials li:nth-child(3) {
  background-image: url("src/github-mark-white.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.socials li:nth-child(4) {
  background-image: url("src/github-mark-white.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.socials li:nth-child(5) {
  background-image: url("src/github-mark-white.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.socials a {
  text-decoration: none;
  padding: 5px;
}
@media (max-width: 500px) {
  .footer-menu ul {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
/* footer end */