* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: montserrat;
  height: 100svh;
  background-image: url("src/forest.jpg");
  /* background-color: #0a680b; */
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

#loader {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to top, #012305, #004914, #00721e, #009d24, #18cb26);
  position: fixed;
  z-index: 100000;
}

#loader img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.dot-elastic{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

header {
  position: fixed;
  width: 100%;
  min-height: 50px;
  background-color: #3427f200;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  transition: all 500ms cubic-bezier(0.13, 0.32, 0.22, 0.71);
}

.nav_blur {
  height: 50px;
  width: 100%;
  position: inherit;
  background-color: rgba(0, 0, 0, 0.16);
  backdrop-filter: blur(2px);
  border-bottom: 2px solid #86f388c5;
  z-index: -1;
  padding: 0;
  margin: 0;
}

.Containerblur {
  height: 100%;
  width: 100%;
  position: inherit;
  background-color: rgba(0, 0, 0, 0.16);
  backdrop-filter: blur(2px);
  border-bottom: 2px solid #86f388c5;
  z-index: -1;
  padding: 0;
  margin: 0;
}

header .logo {
  font-family: "Poppins" sans-serif;
  white-space: nowrap;
  padding-left: 50px;
  color: #ccd8df;
  font-size: 1.75em;
  font-weight: 600;
  text-decoration: none;
  pointer-events: none;
}

header ul {
  position: relative;
  padding-right: 40px;
}

header ul li {
  position: relative;
  list-style: none;
  float: left;
  /* border-left: 1px solid #1ed52184; */
}

header ul li a {
  color: #ffffff;
  font-size: 0.95em;
  font-family: "Poppins", sans-serif;
  padding: 10px 15px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

header ul li ul {
  position: absolute;
  left: 0;
  top: relative;
  width: 150px;
  background: #ffffff00;
  border-radius: 7px;
  padding: 0;
  border: 3px solid #86f388c5;
  border-top-color: #efefef00;
  border-radius: 0;
  z-index: 1;
  display: none;
}

header ul li a:hover {
  /*  transform: translateX(1.2px) translateY(1.2px);*/
  transition: all 0.2s ease;
  color: #86f388;
}

header ul li:hover ul {
  display: block;
}

.hamburger {
  display: none;
}

nav li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: aqua;

  translate: var(--_translate, 0);
  scale: var(--_width, 0) 1;
  transition: scale 300ms var(--_scale-delay, 0ms),
    translate 500ms var(--_translate-delay, 0ms);
}
nav li ul li::after {
  all: unset;
}

nav li:hover,
nav li:focus-within {
  --_width: 1;
}

nav li.active {
  --_width: 1;
}

@supports selector(:has(h1)) {
  nav li:hover + li {
    --_translate: -100%;
    --_scale-delay: 300ms;
    --_translate-delay: 200ms;
  }

  nav li:has(+ :hover) {
    --_translate: 100%;
    --_scale-delay: 300ms;
    --_translate-delay: 200ms;
  }
}

@media (max-width: 880px) {
  header {
    padding: 0;
    margin: 0;
  }

  header .logo {
    padding-left: 50px;
  }

  header nav {
    position: absolute;
    width: 100%;
    top: 50px;
    left: 0;
    background-color: #3427f200;
  }
}

@media (max-width: 700px) {
  header {
    background-color: #1778d247;
    padding: 0;
    margin: 0;
  }

  header .logo {
    padding-left: 25px;
  }

  header nav {
    background-color: #1778d247;
    position: absolute;
    width: 100%;
    display: none;
    top: 50px;
    left: 0;
  }

  header nav ul {
    padding: 0;
  }

  nav li::after {
    all: unset;
  }

  header ul li ul {
    width: 100%;
    top: 0;
  }

  header ul li ul a {
    background-color: rgba(27, 157, 75, 0.35);
  }

  header nav ul li {
    border-width: 2px;
    width: 100%;
  }

  header nav ul li ul {
    top: auto;
    position: relative;
    width: 100%;
  }

  .hamburger {
    display: block;
  }
  header.active nav {
    display: block;
  }
}

@media (max-width: 400px) {
  header .logo {
    padding: 5px;
  }
}
/* The header ends here */

.mainBody {
  display: flex;
  flex-direction: column;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 60%;
  width: 60%;
  border: 4px solid floralwhite;
  background-color: #01f32506;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.blur {
  height: 100%;
  width: 100%;
  position: inherit;
  background-color: rgba(0, 0, 0, 0.16);
  backdrop-filter: blur(4px);
  z-index: -1;
  padding: 0;
  margin: 0;
}

.containerP {
  font-family: sans-serif;
  color: floralwhite;
  padding-bottom: 40px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
.containerH1 {
  padding-bottom: 40px;
  font-family: sans-serif;
  color: floralwhite;
  font-size: 3.5rem;
  text-align: center;
}

.containerH2 {
  font-family: sans-serif;
  color: floralwhite;
  text-align: center;
}

@media (max-width: 500px) {
  .containerH1 {
    font-size: 2rem;
  }
  .container {
    height: 80%;
    width: 80%;
  }
}

.boxcontainer {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 100%;
  background-image: url("src/whitebackground2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(7, 1fr);
}
.boxa {
  grid-area: 2 / 2 / 4 / 5;
  background-color: blue;
}
.boxb {
  grid-area: 2 / 6 / 4 / 9;
  background-color: blue;
}
.boxc {
  grid-area: 5 / 2 / 7 / 5;
  background-color: blue;
}
.boxd {
  grid-area: 5 / 6 / 7 / 9;
  background-color: blue;
}
